@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Malayalam MN", sans-serif;
$tertiary-font: "Poppins", sans-serif;
