@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}
*:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bb8f32;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a77c2b;
}

.font-poppins {
  font-family: "Poppins";
}

.font-montserrat {
  font-family: "Montserrat";
}

.font-malayalam {
  font-family: "Malayalam MN";
}
